body {
    display: flex;
    flex-direction: columns;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background: rgb(226,115,150);
    background: linear-gradient(90deg, rgba(226,115,150,1) 8%, rgba(234,242,215,1) 88%);
    color: #2d2d2d; 
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
  
  .container {
    width: 25%;
    max-width: 600px;
    margin: 50px 20px;
    padding: 40px 40px;
    background-color: #EAF2D7;
    border-radius: 20px;
    box-shadow: 0 0 10px #E27396;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  header {
    text-align: center;
    margin-bottom: 40px;
   
  }
  
  .logo {
    width: 160px;
    margin-bottom: 10px;
  }
  
  .heading {
    font-size: 22px;
    font-weight: 800;
    color: #000000;
    margin: 0;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #000000; 
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    width: calc(100% - 24px); 
    padding: 12px;
    border: 2px solid #E27396; 
    border-radius: 8px;
    background-color: #e2739643; 
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    box-shadow: inset 0 1px 2px #E27396;
    transition: border-color 0.3s ease;
  }
  
  textarea {
    resize: vertical;
  }
  
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border-color: #E27396; 
    outline-color:#b8184b;
  }
  
  
  .btn {
    background-color: #E27396; 
    color: #ffffff; 
    width: 100%; 
    padding: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #c9265adf; 
  }

  /* Estilização da tabela */
.container {
  margin: 50px 20px;
  padding: 40px 40px;
  background-color: #EAF2D7; /* branco */
  border-radius: 20px;
  box-shadow: 0 0 10px #E27396;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #EAF2D7;
  border-radius: 6px;
  box-shadow: 0 0 10px #E27396;
}

.container-tabela {
  max-width: 100%;
  min-width: 700px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid#b8184b;
  overflow: hidden;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 10px 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #E27396;
  color:#fff
}

tr:nth-child(odd) {
  background-color: #eba3ba58;
}

tr:nth-child(even) {
  background-color: #e2739650;
}

.tabela-vazia span {
  display: block;
  text-align: center;
  width: 100%;
  font-weight: 600;
  margin: 0 auto;
  font-size: 18px;
  color: #E27396;
}

.btn-excluir {
  padding: 5px 10px;
  background-color: #E27396;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-excluir:hover {
  background-color: #c9265adf;
}
